/*#product-title {
    width: 100%;
    text-align: center;
}*/

h3 {
    text-align: center;
}
.description {
    margin-top: 20px;
}

.media {
    flex-direction: column;
}

.media-body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.media-img-wrapper {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.media-img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 10px;
}

.variant-option {
    text-align: center;
}


.original-price {
    text-decoration: line-through;
}

#cart-button-container {
    margin-bottom: 20px;
}



@media (max-width: 1024px) {
    .media-img {
        max-width: 300px;
    }

}

@media (min-width: 991px) {

    .variant-option {
        width: 50%;
    }
}
