/*Product style*/
.price {
    color: green;
    font-size: 1rem;
}

/* Page titles */
.hero-title {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
    background: linear-gradient(225deg, #1D6C60, #246C82);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}



.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

.media {
    display: flex;
    align-items: center;
}

.media-body {
    flex: 1;
}

@media (max-width: 1024px) {

    .price {
        font-size: 1rem;
    }

    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
