@inject NavigationManager NavManager

<div class="home-icon" @onclick="GoHome">
    <i class="bi bi-cart-check-fill"></i>
    Immerce
</div>

@code {
    private void GoHome() => NavManager.NavigateTo("");
}
