.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*Home Button*/
.home-icon {
    display: none;
}


.home-icon {
    font-size: 1.3rem;
    background: linear-gradient(135deg, #063B23, #8F7983);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: 30%;
    text-align: center;
}

.home-icon {
    white-space: nowrap;
    margin-right: 10px;
    margin-top: -15px;
}


.home-button:hover {
    cursor: pointer;
}

/*Home button*/


main {
    flex: 1;
}

.nav-menu {
    background: #1D6C60;
    background: linear-gradient(225deg, #1D6C60, #246C82);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    /*Home button*/
    .home-icon {
        display: block;
        font-size: 1rem;
    }

        .home-icon > i {
            background: linear-gradient(225deg, #1D6C60, #246C82);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: black;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 641px) {
    .top-row {
        justify-content: center;
    }
}

