.container {
    transition: transform .2s;
}

.container:hover {
    transform: scale(0.9);
}

.media-img {
    max-height: 120px;
    max-width: 120px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover {
    transform: scale(1.1);
}


.media-img-wrapper {
    width: 120px;
    text-align: center;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

